{% extends 'base.html.twig' %}

{% block title %}Hotel - cool | Suites{% endblock %}
{% block body %}
        <h1 class="mt-5">Nos suites :</h1>

        {# <a href="{{ path('suite.new') }}" class="btn btn-primary">Crée une suite</a> #}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">
        {% for suite in suites %}
            <div class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">{{ suite.titre }}</div>
                    <div class="card-body">
                        <img class="card-image" src="#" alt="" width="200px" height="150px">
                        <h4 class="card-title">Prix : {{ suite.prix }} €</h4>
                        <p class="card-text">Bienvenue dans {{ suite.description }}</p>
                    </div>
                </div>
            </div>
        
        {% endfor %}
        </div>
                <div class="navigation d-flex justify-content-center mt-5">
                    {{ knp_pagination_render(suites) }}
                </div>

{% endblock %}
